<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - Owner</title>
    <link rel="stylesheet" href="/stylesheets/chat.css">
    <script  src="http://localhost:5000/socket.io/socket.io.js"></script>
   
    <script >
        document.addEventListener("DOMContentLoaded", () => {
            const socket = io('http://localhost:5000');
            const roomId = '<%= ownerid %>'; 
            const userId = '<%= ownerid %>';
            const userType = 'Seller';

            const form = document.getElementById('send-container');
            const messageInp = document.getElementById('messageInp');
            const messageContainer = document.querySelector('.container');
            
            const append = (message, position) => {
                const messageElement = document.createElement('div');
                messageElement.innerText = message;
                messageElement.classList.add('message');
                messageElement.classList.add(position);
                messageContainer.append(messageElement);
            };

            socket.emit('join-room', { roomId, userId, userType });

            form.addEventListener('submit', (e) => {
                e.preventDefault();
                const message = messageInp.value;
                append(`You: ${message}`, 'right');
                socket.emit('sendMessage', { roomId, userId, message, userType });
                messageInp.value = '';
            });

           

            socket.on('receiveMessage', ({ userId, message, userType }) => {
                append(`${userType}: ${message}`, 'left');
            });

            socket.on('user-joined', (userType) => {
                append(`${userType} has joined the room`, 'left');
            });

            socket.on('left', (userType) => {
                append(`${userType} has left`, 'left');
            });
        });
    </script>
</head>
<body>
    <nav>
        <h1 style="color: black;">Chat<b style="color: blue;">Connect</b></h1>
        <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Join us today to connect with sellers from all over and unlock endless possibilities!</h1>
      
    </nav>
    <div class="container"></div>
    <div class="send">
        <form  id="send-container">
            <input type="text" name="messageInp" id="messageInp" placeholder="Type here">
            <button class="btn" type="submit">Send</button>
        </form>
    </div>

   
    
</body>
</html>