<DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Save More</title>
        <link rel="stylesheet" href="loginstyleB.css">
      
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
         <link rel="stylesheet" href="/stylesheets/style.css">
        
    </head>
    <body>
    
        <div class="container">
        <div class="regform" style="background-color: rgb(34 26 26 / 80%);">
           
            <form action="/owners/create" method="post">
                <p class="logo">Save<b class="good">More</b></p>
                
                <p id="heading">CONNECT WITH US!</p>
                
                <div class="input">
                    <label class="textlabel" for="name" >Your name</label><br>
                    <input type="text" id="name" name="fullname" required/ placeholder="Enter Name">
                 </div>
                
                 <div class="input">
                    <label class="textlabel" for="email">Email</label>
                    <input type="email" id="email" name="email" required/ placeholder="Enter EmailId">
                </div>
                 <label class="textlabel" for="password">Password</label>
                 <div class="password">
                  
                    <input type="password" name="password" id="password" required/ placeholder="Enter password">
                    <!-- <i class="fa fa-eye-slash" aria-hidden="true" id="showpassword"></i> -->
                    <!-- <i class="bi bi-eye-slash" id="showpassword"></i>  -->
                    <!-- <i class="uil uil-lock icon"></i> -->
                    <i class="uil uil-eye-slash showHidePw" id="showpassword"></i>                
                
                 </div>
                 
                 <div class="btn">
                 <button type="submit" name="sign" value="Submit">Continue</button>
                 </div>
                
               <!-- <button type="submit" style="background-color:white ;color: #000; margin-top:5px;  padding: 10px 25px;">
                     <img src="google.svg" style="width:22px" >
                     Continue With  Google </button>  -->
                    
                <div class="signin-up">
                     <p style="font-size: 20px; text-align: center;">Have an account already? <a href="/owners/login"> Login here</a></p>
                 </div>
             
    
            </form>
            </div>
            <!-- <div class="right">
                <img src="cover.jpg" alt="" width="800" height="700">
            </div> -->
           
        </div>
      
    
        <!-- <script src="login.js"></script> -->
       
           
    </body>
    </html>